/* This is main styling of the page */
body{
    background-color: #fbfbfb;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*Navigation bar styling*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a2a4ac;
    border-radius: 5px;
    border-style:hidden;
    
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 30px;
    text-shadow: 5px 5px 10px blue"
  }
  
  li a:hover:not(.active) {
    background-color: #101111;
  }
  
  .active {
    background-color: #925129;
  }
/*Navigation bar end*/

/* Brand-logo styling*/
.brand-logo img{
  border-radius: 50%;
  border: 5px solid #59baf2;
  padding: 0px;
  border-color: #2c2e3d;
}
/* Brand-logo styling finished*/

/* Blog-main styling*/
.blog-main{
    border-style:hidden;
    border-radius: 8px;
    border-width: 3px;
    border-color:#101111;
    padding: 20px;
    margin: 5px;
    background-color: #d1b6b5;
    box-shadow: 5px 10px 8px #888888;
}
/* Blog-main styling finished*/

/* Article-slack styling*/
.article-slack{
    border-style:hidden;
    border-width: 3px;
    border-radius: 8px;
    border-color:#101111;
    padding: 20px;
    margin: 5px;
    background-color: #c5caaf;
    box-shadow: 5px 10px 8px #888888;
}
/* Article-slack styling finished*/

/* Article-zoom styling*/
.article-zoom{
    border-style:hidden;
    border-width: 3px;
    border-radius: 8px;
    border-color:#101111;
    padding: 20px;
    margin: 5px;
    background-color: #c5caaf;
    box-shadow: 5px 10px 8px #888888;
}
/* Article-zoom styling finished*/

/* Article-trello styling*/
.article-trello{
    border-style:hidden;
    border-width: 3px;
    border-radius: 8px;
    border-color:#101111;
    padding: 20px;
    margin: 5px;
    background-color: #c5caaf;
    box-shadow: 5px 10px 8px #888888;
}
/* Article-trello styling finished*/
h1{
    text-decoration: underline;
    padding: 20px;
    margin: 5px;    
    text-align: center;
}
p{
    font-size: 30px;
}

/* Footer styling*/
.index-footer{
    border-style:hidden;
    border-width: 3px;
    border-radius: 8px;
    border-color:#101111;
    padding: 20px;
    margin: 5px;
    background-color: #a2a4ac;
}

.index-footer p:last-of-type{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.footer-info{

  font-size: 30px;
  text-decoration: underline;
  border-spacing: 20px;
  justify-content: space-around;
  width: 100%;
}
.footer-info a{
  color:black;
}
.footer-info a:hover{
  color:blue;
}
/* Footer styling*/
