/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
*/



*{
    margin: 0; 
    padding: 0;
}
body{
    font-family: 'Comfortaa', cursive;
}

/* ---------------------------- */
/* ---------------------------- */
/* -------------- SECTION TITLE -------------- */
/* ---------------------------- */
/* ---------------------------- */
 .section-title{
    font-size: 35px;
    text-align: right;
    width: max-content;
    margin: 50px 0 50px auto;
}

.section-title::after{
    content: '';
    width: 50%;
    height: 4px;
    background-color: #787878;
    display: block;
}

/* ---------------------------- */
/* ---------------------------- */
/* -------------- NAV-BAR -------------- */
/* ---------------------------- */
/* ---------------------------- */
.nav-bar{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 25px;
    font-weight: 700;
}

.nav-list{
    display: flex;
    list-style-type: none;
}

.nav-item{
    font-size: 20px;
    color: #787878;
    text-decoration: none;
    margin-left: 30px; 
}

.nav-item:hover{
    color: black;
}


/* ---------------------------- */
/* ---------------------------- */
/* -------------- JUMBOTRON -------------- */
/* ---------------------------- */
/* ---------------------------- */
.jumbotron{
    height: 600px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron-box{
    width: max-content;
    background-color: #000000c7;
    color: white;
    padding: 100px;
    text-align: center;
}

.jumbotron-heading{
    margin-bottom: 30px;
}


main{
    width: 80%;
    margin: 100px auto;
}


/* ---------------------------- */
/* ---------------------------- */
/* -------------- ABOUT SECTION -------------- */
/* ---------------------------- */
/* ---------------------------- */

.about-box{
    margin-left: auto;
    background-color: #f3f3f3;
    padding: 50px 50px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
      
}

.about-img{
    width: 40%;
    height: auto;
}

.about-info{
    margin-left: 100px;
}

.about-title{
    margin-bottom: 100px;
    font-size: 30px;
}

.about-description{
    color: #787878;
}





