
  /*---Main Container---*/
  .container{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  /*---Navigation Bar and Header ---*/
   
  .top-header .logo{
    background-color: darkgrey;
      width: 200px;
      height: 200px;
      padding: 20px;
    }
    .top-header .contact-button{
      background-color:darkgrey;
        font-size: 25px;
        border-radius: 10px;
        border-width: medium;
        width: 125px;
        height: 50px;
        margin: 20px;
    }
    .nav-bar{
      background-color: lightgrey;
    }
  
.nav-list li{
    margin: 5px;
    padding: 5px;
    background-color: darkgrey; 
  } 
  
  .main-container .info-section{
   
    background-color: lightgrey;
    width: 100%;
    text-align: center;
  }
  
  .carousel-list{
    background-color: lightgrey;
    margin: 20px;
    padding: 20px;
  }
  
  .carousel-item li{
    margin: 20px;
    padding: 20px;
    background-color: darkgrey;
    /* width: 100%; */
    /* height: 100%; */
    margin-right: 50px;
}
  
 .section{
    background-color: lightgrey;
  }
  
  .cake-portrait{
    background-color: lightgrey;
  }  

  .cake-portrait .cakes{
    list-style: none;
    padding: 20px;
    width: 100px;
    height: 100px;
    background-color: darkgrey;
    margin: 20px;
  }
  
.footer .footer-list{
    background-color: lightgrey;
      
  }
  .footer-list li{
    list-style: none;
    padding: 20px;
    width: 100px;
    height: 100px;
    background-color: darkgrey;
    margin: 20px;
  }
  @media (max-width: 400px){
    .header .top-header {
     background-color: lightgrey;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 10px;
      margin-top: 20px;
    }
    .nav-bar .nav-list{
      background-color: lightgrey;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 30px
      }
      .container .main-container{
      
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .main-container .image-section{
      
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-top: 20px;
           }
      .image-carousel{
        background-color: lightgrey;
        width: 300px;
        height: 300px;
        padding: 20px;
      }  
      .carousel-list .carousel-item{
        background-color: lightgrey;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
     
      }   
      .cake-samples{
   
        display: flex;
        flex-direction: column;
        align-items: center;
        
        padding: 50px;
        background-color: lightgrey;
    
    }
    
  .footer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: lightgrey;
  }
  }
  @media (min-width: 800px){
    .header .top-header {
      background-color: lightgrey;
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       margin-bottom: 10px;
       margin-top: 20px;
     }
     .nav-bar .nav-list{
       background-color: lightgrey;
       list-style: none;
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       margin-right: 30px
       }
       .container .main-container{
      background-color: lawngreen;
        /*margin: 20px;*/
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
      .info-section{
        width: 30%;
        background-color: lightseagreen;
        align-self: flex-start;
        margin: 20px;
      }
      .image-section{
        width: 70%;
        background-color: magenta;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .image-carousel{
        align-self: center;
        width: 100%;
        height: auto;
        padding: 10px;
      }
      .carousel-list .carousel-item{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 20px;

              }
            
      .cake-samples ul{
                display: flex;
                justify-content: space-evenly;
              }
       .footer ul{
         width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 50px;
        background-color: lightgrey;
      }
  }