*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(#FBFBFB, #4F5455);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    background-color: #4d2929;
   
}
.logoandtitle{
    display: flex;
    align-items: center;
    color: #FBFBFB;
   
}

.line1, .line2, .line3{
    width: 25px;
    height: 3px;
    background-color: #FBFBFB;
    margin: 5px;
}