.d-block, .jumbotron {
    height: 400px;
    
}
/* Change the size of the Navbar and nav-brand */
.navbar {
    min-height: 50px;
  }
  
  .navbar-brand {
    padding: 0 20px;
    height: 120px;
    line-height: 120px;
  }
  .nav-link {
      margin: 0 70px;
      padding: 5px 10px;
      border: 1px solid red;
      border-radius: 10px;
      text-transform: uppercase;
  }
  .justify-txt {
      text-align: center;
  }
  .carousel {
    width:auto; /* Or try to use important */
    
  }
  .card {
    height: 24rem;
    margin-bottom: 20px;
  }
  .card > img {
      width: 100%;
      height: 50%;
  }
  .bg-danger {
      background-color: #f54291;
  }