html {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button-top {
	border: 3px;
	border-color: black;
}

/*
.cake-cards img {
	width: calc(100%-5px)/4);
} */

@media only screen (min-width: 550px) and (max-750px) {
	.aside-left-with-carossel p {
		font-size: .5rem;
	}
}
